@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-shake {
  animation-name: shake;
  animation-duration: 0.5s;
}

@keyframes shake {
  from { transform: translate3d(0, 0, 0); }
  15% { transform: translate3d(-30%, 0, 0) rotate3d(0, 0, 1, -6deg); }
  30% { transform: translate3d(25%, 0, 0) rotate3d(0, 0, 1, 4deg); }
  45% { transform: translate3d(-18%, 0, 0) rotate3d(0, 0, 1, -3deg); }
  60% { transform: translate3d(12%, 0, 0) rotate3d(0, 0, 1, 2deg); }
  75% { transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg); }
  to { transform: translate3d(0, 0, 0); }
}